name: JavaScript - Deploy

on:
  workflow_call:
    inputs:
      working_directory:
        type: string
        required: true
      s3_bucket:
        type: string
        required: true
      s3_bucket_region:
        type: string
        required: true
      cf_dist_id:
        type: string
        required: true
      folder:
        type: string
        required: false
    secrets:
      AWS_ACCESS_KEY:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true    

jobs:
  build-deploy:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: |
          cd ${{ inputs.working_directory }}
          echo "::set-output name=dir::$(yarn cache dir)"
      
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        working-directory: ${{ inputs.working_directory }}
        shell: bash
        run: |
          yarn install
         
      - name: Build
        working-directory: ${{ inputs.working_directory }}
        shell: bash
        run: |
          yarn build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.s3_bucket_region }}

      - name: Deploy container to bucket
        run: aws s3 sync ${{ inputs.folder }} s3://${{ inputs.s3_bucket }}
        
      - name: Invalidate dashboard cloudfront
        run: aws cloudfront create-invalidation --distribution-id ${{ inputs.cf_dist_id }} --paths /*
